

/* 全局字体设置 */

@font-face {
font-family: 'Meta';
src: url('../fonts/meta-normal.woff');
src: local('Meta'),
local('Meta'),
url('../fonts/meta-normal.woff') format('truetype'),
}

@font-face {
font-family: 'DIN Condensed';
src: url('../fonts/DIN Condensed Bold.ttf');
src: local('DIN Condensed'),
local('DIN Condensed'),
url('../fonts/DIN Condensed Bold.ttf') format('truetype'),
}

/*全局盒模型，基本样式设置*/
html{
    /*height: 100%;*/
		display: block;
		min-width: 320px
}
body.skin {
    font-size: 67.5%;
    color: #4f5c6b;
    overflow-x: hidden;
    /*height: 100%;*/
    display: block;
    margin: 0;
    padding: 0;
    font-family:"DIN Condensed", "Roboto", Helvetica, "Helvetica Neue", Arial, sans-serif;
    /*background-color: #fff;*/
}
input.form-control{
	border-radius: 0
}

/*动画设置*/

a,li{
    transition: all 0.4s ease-in, all 0.4s ease-out;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
.delay-02{
    animation-delay: 0.2s
}


/*********盒模型设置***********/

.ml{
    margin-left:  15px;
}

.mt{
    margin-top:  15px;
}
.mr{
    margin-right:  15px;
}
.mb{
    margin-bottom:  15px;
}
.m15{
    margin: 15px;
}


.p15{
    padding: 15px
}
.pl-15{
    padding-left:  15px;
}

.pt-15{
    padding-top:  15px;
}
.pr-15{
    padding-right:  15px;
}
.pb-15{
    padding-bottom:  15px;
}
/*********盒模型设置结束***********/

/*定位设置*/
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.fixed-left{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
}

.fixed-right{
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
}
/******************/

/*文本，背景设置*/
.text-white{
    color: #fff;
}
.text-primary{
    color: #4f5c6b;
}
.bg-white{
    background-color: #fff
}
.bg-gray{
    background-color: #eee;
}
.bg-primary {
    background-color: #384157;
}
.bg-transparent{
    background-color: transparent;
}

a.navbar-brand{
	background: #2c3345;
	height: 30px;
	padding: 8px 15px;
}


.skin .navbar {
    border: none;
}

.skin .navbar-fixed-top{
    font-family: 'DIN Condensed';
    z-index: 2030;
    width: 100%;
    height: 30px;
    min-height: 30px;
    border-bottom: 1px solid #ddd;
    /*border-top: 2px solid #2c3345;*/

}
a.navbar-brand:hover,
a.navbar-brand:active,
a.navbar-brand:visited{
	color: #fff;
}
.skin .navbar-nav>li>a{
	color: #2c3345;
	font-size: 2em
}


.skin .navbar-nav>li>a:hover{
	background: #fff;
}
@media screen and (min-width:768px) {
	.navbar-brand{

		width: 240px;
	}
	.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
	}


}

@media screen and (max-width:768px){
	.navbar-brand{

		width: 100%;
	}
	ul.navbar-nav{
		background: #fff;
		margin: 0 -15px;
		border-bottom: 1px solid #ddd;
	}
	ul.nav li{
		float: left;
	}
	#wrapper>.content{
	    margin: 40px 0 0 0;
	}
}

/* 主体部分*/

#wrapper{
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width:768px) {

/* 侧边栏*/

	#wrapper > aside{
		padding-top: 30px;
	    position: fixed;
	    display: block;
	    height: 100%;
	    width: 240px;
	    overflow: scroll;
	}


	#wrapper>aside{
	    color: #8390a8;
	    line-height: 1.5em;
	}

	#wrapper>aside>.side-inner a:hover{
	    color:#fff;
	    cursor: pointer;
			text-decoration: none;
	}
	#wrapper>aside>.side-inner a{
	    color: #99a6bf;
	}
	#wrapper>aside>.side-inner ul{
		list-style: none;
		padding: 0 ;
		margin: 0;
	}
	#wrapper>aside>.side-inner ul li{
		line-height: 30px;
		height: 30px;
		padding: 0 15px;
		border-right: 3px solid transparent
	}
	#wrapper>aside>.side-inner ul li:hover{
		background: #2c3345;
		border-right: 3px solid red;
		cursor:pointer;
	}
	#wrapper>aside>.side-inner ul li:hover>a{
		color: #fff;
	}
	#wrapper>.content{
	    margin: 40px 0 0 240px;
	    /*font-size: 1.8em;*/

	}

}
.asider-title{
	text-align: center;
	position: relative;
}

.asider-title-bg{
	background: url("/imgs/bg.jpeg");
	background-size: cover;
	opacity: 0.5;
	height: 120px;
	width: 100%;
	position: fixed;;
	z-index: 2;
	top: 0;
	left: 0
}
.tx{
	width: 120px;
	height: 120px;
	border: 5px solid #2c3345;
	z-index: 3333;
	opacity: 1;
	position: absolute;

}


.content .text-box{
    width: 100%;
    border-bottom: 1px dotted #aaa;

}
.textbox-title, .textbox-title-top {
    height: auto;
    color: #a7bacd;
}
.textbox-title h1{
	margin-top: 5px;
	margin-bottom: 5px;
}
h1 a,h1 a:hover {
    color: rgba(44,51,69,.8);
		text-decoration: none;
    padding: .1em 0;
    -webkit-transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}
.title-label {
    clear: both;
    font-size: 0.55em;
    color: #5c616b;
    text-align: center;
    font-weight: 300;
}
.title-label .inner {
    /*margin: 1em auto .75em;*/
    display: inline-block;
    width: auto;
    padding: .4em 0;
    border-bottom: .1em solid #ddd;
    border-top: .1em solid #ddd;
}

.title-label .inner:after, .title-label .inner:before {
    content: "---";
    margin: 0 .5em;
    font-weight: 400;
    color: #ddd;
    letter-spacing: -.15em;
}

.title-label a {
    color: #5c616b;
    text-decoration: none;
}

.textbox-adminbar{
    opacity: 1;
    float: left;
    position: absolute;
    left: 1em;
    top: 1em;
    font-weight: 700;
    font-size: 0.5em;
    color: rgba(0, 0, 0, .7);
    -webkit-transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}
.text1 {
    color: #545964;
    font-size: 1.2em;
    color: #555;
    line-height: 1.75;
    position: relative;
    padding: .4em 0 0;
    z-index: 5;
    font-weight: 300;
    text-align: left;
    text-justify: ideographic;
}












/**/
