

/* 全局字体设置 */

@font-face {
font-family: 'Meta';
src: url('../fonts/meta-normal.woff');
src: local('Meta'),
local('Meta'),
url('../fonts/meta-normal.woff') format('truetype'),
}

@font-face {
font-family: 'DIN Condensed';
src: url('../fonts/DIN Condensed Bold.ttf');
src: local('DIN Condensed'),
local('DIN Condensed'),
url('../fonts/DIN Condensed Bold.ttf') format('truetype'),
}

/*全局盒模型，基本样式设置*/
html{
    /*height: 100%;*/
		display: block;
		min-width: 320px
}
body.skin {
    font-size: 67.5%;
    color: #4f5c6b;
    overflow-x: hidden;
    /*height: 100%;*/
    display: block;
    margin: 0;
    padding: 0;
    font-family:"DIN Condensed", "Roboto", Helvetica, "Helvetica Neue", Arial, sans-serif;
    /*background-color: #fff;*/
}
input.form-control{
	border-radius: 0
}

/*动画设置*/

a,li{
    transition: all 0.4s ease-in, all 0.4s ease-out;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
.delay-02{
    animation-delay: 0.2s
}


/*********盒模型设置***********/

.ml{
    margin-left:  15px;
}

.mt{
    margin-top:  15px;
}
.mr{
    margin-right:  15px;
}
.mb{
    margin-bottom:  15px;
}
.m15{
    margin: 15px;
}


.p15{
    padding: 15px
}
.pl-15{
    padding-left:  15px;
}

.pt-15{
    padding-top:  15px;
}
.pr-15{
    padding-right:  15px;
}
.pb-15{
    padding-bottom:  15px;
}
/*********盒模型设置结束***********/

/*定位设置*/
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.fixed-left{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
}

.fixed-right{
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
}
/******************/

/*文本，背景设置*/
.text-white{
    color: #fff;
}
.text-primary{
    color: #4f5c6b;
}
.bg-white{
    background-color: #fff
}
.bg-gray{
    background-color: #eee;
}
.bg-primary {
    background-color: #384157;
}
.bg-transparent{
    background-color: transparent;
}

a.navbar-brand{
	background: #2c3345;
	height: 40px;
	padding: 10px 15px;
}


.skin .navbar {
    border: none;
}

.skin .navbar-fixed-top{
    font-family: 'DIN Condensed';
    z-index: 2030;
    width: 100%;
    height: 40px;
    min-height: 40px;
    border-bottom: 1px solid #ddd;
    /*border-top: 2px solid #2c3345;*/

}
a.navbar-brand:hover,
a.navbar-brand:active,
a.navbar-brand:visited{
	color: #fff;
}
.skin .navbar-nav>li>a{
	color: #2c3345;
	font-size: 2em
}


.skin .navbar-nav>li>a:hover{
	background: #fff;
}
@media screen and (min-width:768px) {
	.navbar-brand{

		width: 240px;
	}
	.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
	}


}

@media screen and (max-width:768px){
	.navbar-brand{

		width: 100%;
	}
	ul.navbar-nav{
		background: #fff;
		margin: 0 -15px;
		border-bottom: 1px solid #ddd;
	}
	ul.nav li{
		float: left;
	}
	#wrapper>.content{
	    margin: 40px 0 0 0;
	}
}

/* 主体部分*/

#wrapper{
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width:768px) {

/* 侧边栏*/

	#wrapper > aside{

	    position: fixed;
	    display: block;
	    height: 100%;
	    width: 240px;
	    overflow: scroll;
	}


	#wrapper>aside{
	    color: #8390a8;
	    line-height: 1.5em;
	}

	#wrapper>aside>.side-inner a:hover{
	    color:#fff;
	    cursor: pointer;
			text-decoration: none;
	}
	#wrapper>aside>.side-inner a{
	    color: #99a6bf;
	}
	#wrapper>aside>.side-inner ul{
		list-style: none;
		padding: 0 ;
		margin: 0;
	}
	#wrapper>aside>.side-inner ul li{
		line-height: 30px;
		height: 30px;
		padding: 0 15px;
		border-right: 3px solid transparent
	}
	#wrapper>aside>.side-inner ul li:hover{
		background: #2c3345;
		border-right: 3px solid red;
		cursor:pointer;
	}
	#wrapper>aside>.side-inner ul li:hover>a{
		color: #fff;
	}
	#wrapper>.content{
	    margin: 40px 0 0 240px;
	    /*font-size: 1.8em;*/
        
	}
}


.content .text-box{
    width: 100%;
    border-bottom: 1px dotted #aaa;

}
.textbox-title, .textbox-title-top {
    height: auto;
    color: #a7bacd;
}
.textbox-title h1{
	margin-top: 5px;
	margin-bottom: 5px;
}
h1 a,h1 a:hover {
    color: rgba(44,51,69,.8);
		text-decoration: none;
    padding: .1em 0;
    -webkit-transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}
.title-label {
    clear: both;
    font-size: 0.55em;
    color: #5c616b;
    text-align: center;
    font-weight: 300;
}
.title-label .inner {
    /*margin: 1em auto .75em;*/
    display: inline-block;
    width: auto;
    padding: .4em 0;
    border-bottom: .1em solid #ddd;
    border-top: .1em solid #ddd;
}

.title-label .inner:after, .title-label .inner:before {
    content: "---";
    margin: 0 .5em;
    font-weight: 400;
    color: #ddd;
    letter-spacing: -.15em;
}

.title-label a {
    color: #5c616b;
    text-decoration: none;
}

.textbox-adminbar{
    opacity: 1;
    float: left;
    position: absolute;
    left: 1em;
    top: 1em;
    font-weight: 700;
    font-size: 0.5em;
    color: rgba(0, 0, 0, .7);
    -webkit-transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}
.text1 {
    color: #545964;
    font-size: 1.2em;
    color: #555;
    line-height: 1.75;
    position: relative;
    padding: .4em 0 0;
    z-index: 5;
    font-weight: 300;
    text-align: left;
    text-justify: ideographic;
}














/*登录页面样式*/
#login-page{
	/*background: #2196f3*/
	background: linear-gradient(135deg, #FF4081 0%, #2196f3 100%);

}

@media screen and (max-width:400px){
	#particles-js{
		display: none;
	}
}
@media screen and (min-width:400px){
	#particles-js{
			width:100%;
			height:100%;
		  position:fixed;
		  z-index:12;
		  top:0;
	}
}



/*登录框*/

.panel-lite	.thumbur {
	  width: 150px;
	  height: 150px;
	  position: relative;
	  background-color: #efefef;
	  *zoom: 0.5;
	  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEFEFEF', endColorstr='#FFE1E1E1');
	  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	  background-size: 100%;
	  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #efefef), color-stop(50%, #efefef), color-stop(50%, #e1e1e1), color-stop(100%, #e1e1e1));
	  background-image: -webkit-linear-gradient(left, #efefef 0%, #efefef 50%, #e1e1e1 50%, #e1e1e1 100%);
	  background-image: linear-gradient(to right, #efefef 0%, #efefef 50%, #e1e1e1 50%, #e1e1e1 100%);
	  margin: auto;
	  border-radius: 100%;
	}
.panel-lite	.thumbur:before {
	  content: '';
	  position: absolute;
	  width: 6px;
	  height: 12px;
	  background-color: #efefef;
	  left: 50%;
	  bottom: 50px;
	  z-index: 5;
	  -ms-transform: translateX(-50%);
	  -webkit-transform: translateX(-50%);
	  transform: translateX(-50%);
	  border-bottom-left-radius: 2px;
	  border-bottom-right-radius: 2px;
	}
.panel-lite	.icon-lock {
	  position: relative;
	  width: 80px;
	  height: 60px;
	  background: #FFA000;
	  margin: auto;
	  -ms-transform: translateY(60px);
	  -webkit-transform: translateY(60px);
	  transform: translateY(60px);
	  border-radius: 8px;
	  box-shadow: 0 0 2px #F57C00 inset;
	}
.panel-lite	.icon-lock:after {
	  content: '';
	  position: absolute;
	  width: 50px;
	  height: 35px;
	  border: 9px solid #F57C00;
	  border-bottom: none;
	  bottom: 100%;
	  left: 50%;
	  -ms-transform: translateX(-50%);
	  -webkit-transform: translateX(-50%);
	  transform: translateX(-50%);
	  border-top-left-radius: 50px;
	  border-top-right-radius: 50px;
	}
.panel-lite	.icon-lock:before {
	  content: '';
	  position: absolute;
	  width: 12px;
	  height: 12px;
	  background-color: #efefef;
	  left: 50%;
	  top: 20px;
	  -ms-transform: translateX(-50%);
	  -webkit-transform: translateX(-50%);
	  transform: translateX(-50%);
	  border-radius: 100%;
	}
.panel-lite {
  margin: 100px auto;
  max-width: 260px;
  background: #fff;
  padding: 20px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.panel-lite h4 {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  color: #FF4081;
  margin: 15px auto;
}
.panel-lite a {
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  color: #FF4081;
  font-size: 14px;
}
.panel-lite .form-group {
  position: relative;
  font-size: 15px;
  color: #666;
	margin-bottom: 0;
}
.panel-lite .form-group + .form-group {
  margin-top: 30px;
}
.panel-lite .form-group .form-label {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
	font-weight: 400;
}
.panel-lite .form-group .form-control {
  width: 100%;
  position: relative;
  z-index: 3;
  height: 35px;
  background: none;
  border: none;
  padding: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #777;
	box-shadow: none;
}
.panel-lite .form-group .form-control:invalid {
  outline: none;
}
.panel-lite .form-group .form-control:focus, .panel-lite .form-group .form-control:valid {
  outline: none;
  color: #FF4081;
  box-shadow: 0 1px #FF4081;
  border-color: #FF4081;
  font-family: DIN Condensed
}
.panel-lite .form-group .form-control:focus + .form-label,
.panel-lite .form-group .form-control:valid + .form-label {
  font-size: 12px;
  -ms-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
.panel-lite .floating-btn {
  background: #FF4081;
	padding: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  border: none;
  position: absolute;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3) inset;
  margin: auto;
  right: -30px;
  bottom: 50px;
  cursor: pointer;
}
.panel-lite .floating-btn:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 5px 11px rgba(0, 0, 0, 0.23);
}
.panel-lite .floating-btn:hover .icon-arrow {
  -ms-transform: rotate(45deg) scale(1.2);
  -webkit-transform: rotate(45deg) scale(1.2);
  transform: rotate(45deg) scale(1.2);
}
.panel-lite .floating-btn:focus, .floating-btn:active {
  outline: none;
}
.panel-lite .icon-arrow {
  position: relative;
  width: 13px;
  height: 13px;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  display: block;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.panel-lite .icon-arrow:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 3px;
  background: #fff;
  left: -5px;
  top: 4px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}







/**/
