---
layout: home
title: Rico@Think-r
---
<div class="jumbotron jumbotron-fluid banner">
	<div class="banner-bg"></div>
	<div class="container-fluid text-center">
		<h1 class="display-3">{{site.data.author.big-title}}</h1>
		{% for  s in site.data.author.selogan%}
		<p class="lead">{{s}}</p>
		{% endfor %}
	</div>
</div>

<div id = "work-e" class="container-fluid" >
	<div  id="avator">
		<img class="img-thumbnail rounded-circle avator" src="/imgs/tx.JPG" >
		<div class="social">
			{% for a in site.data.social %}
			<a class="fa-stack fa-lg" href="{{ a.url }}" data-toggle="tooltip" data-placement="top" title="{{ a.name }}">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-{{ a.icon }} fa-stack-1x fa-inverse"></i>
			</a>
			{% endfor %}
		</div>
	</div>
	<div style="overflow:hidden">
	<img src="/imgs/2017.svg" id="works" >

	</div>
</div>
<script type="text/javascript" src="/js/jquery.slim.min.js"></script>
<script type="text/javascript" src="/js/tether.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
})
</script>
