---
layout: home
title: Rico@Think-r
---
<div class="jumbotron jumbotron-fluid banner">
	<div class="banner-bg"></div>
	<div class="container-fluid text-center">
		<h1 class="display-3">{{site.data.settings.WEBSITE.BIG_TITLE}}</h1>
		{% for  s in site.data.settings.WEBSITE.SELOGAN%}
		<p class="lead">{{s}}</p>
		{% endfor %}
	</div>
</div>

<div id = "work-e" class="container-fluid" >
	<div  id="avator">
		<img class="img-thumbnail rounded-circle avator" src="{{ site.data.settings.AUTHOR.AVATOR }}" data-toggle="tooltip" data-placement="right" title="Click here. Enter my website">
		<div class="social">
			{% include themes/own/socials%}
		</div>
	</div>
	<div style="overflow:hidden">
	<img src="{{site.data.settings.CONFIG.ASSETS_PATHS.IMGS}}2017.svg" id="works" >

	</div>
</div>
