
@font-face {
font-family: 'Meta';
src: url('../fonts/meta-normal.woff');
src: local('Meta'),
local('Meta'),
url('../fonts/meta-normal.woff') format('truetype'),
}

@font-face {
font-family: 'DIN Condensed';
src: url('../fonts/DIN Condensed Bold.ttf');
src: local('DIN Condensed'),
local('DIN Condensed'),
url('../fonts/DIN Condensed Bold.ttf') format('truetype'),
}

html{
	display: block;
	margin: 0;
	padding: 0;

}
body {
    color: #4f5c6b;
    overflow-x: hidden;
    /*height: 100%;*/
    display: block;
    margin: 0;
    padding: 0;
    font-family:"Meta","Roboto", Helvetica, "Helvetica Neue", Arial, sans-serif;
    /*background-color: #fff;*/
}
*{
    transition: all 0.4s ease-in, all 0.4s ease-out;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
/* COLORS */

.bg-white{
	background-color: #fff;
}
.text-logo,.text-logo:hover{
	color: #4f5c6b;
}



/* BORDERS */
.border-top-1{
	border-top: 1px solid #ddd;
}
.border-bottom-1{
	border-bottom: 1px solid #ddd;
}
.border-right-1{
	border-right: 1px solid #ddd;
}
.border-left-1{
	border-left: 1px solid #ddd;
}



/* SHADOWS*/

.sd-bottom{
	box-shadow: 0px 1px  5px 1px #eee;
}
.sd-right{
	box-shadow: 1px 0px 5px 1px #eee;
}

/*.bg-primary {
    background-color: #384157 !important;
}*/



button.navbar-toggler:active,button.navbar-toggler:focus{
	outline: none;
}



.navbar{
	min-height: 30px;
	height: 30px;
    line-height: 18px;
}


#wrapper{
	width: 100%;
    margin: 0 auto;
}

#wrapper > aside {
    position: fixed;
    display: block;
    height: 100%;
    width: 240px;
	padding: 42px 0;
}

aside .avator{
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
aside .card-block{
	padding: 10px 15px
}
aside h3.card-title,
aside h4.card-title{
	margin: 0;
}
aside .card-footer,
#content .card-footer{
	background: #fff;
	padding: 0rem 1rem;
	border: none;
}
#content{
	margin:30px 0px 30px 240px;padding :15px
}
aside .card-footer .col-3{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
aside .row{
	margin-left: -12px;
	margin-right: -12px;
}
#sns .col-3>a{
	font-size: 1.4rem;
	display: block;
	height: 100%;
	line-height: 30px
}
a.list-group-item {

	font-size: 1.3rem;
	border-radius: 0;
	line-height: 1.3rem;
}
.list-group-item:first-child,
.list-group-item:last-child{
	border-top-right-radius: 0;
     border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
	 border-bottom-right-radius: 0;
}

#sns .col-3:hover{
    background: rgba(79, 92, 107, 0.8);
    color: #fff;
	border: none;
}


#content .card{
		margin-bottom: 15px;
		border-radius: 0
}
#content .card .btn-read{
	padding: .3rem 1.2rem;
	background: #4f5c6b;
	border: none;
	border-radius: 0;
	color: #fff;

}
#acticle.card{
	padding: 15px
}

#acticle h1,h2,h3,h4,h5{
	margin: 1rem 0;
}
#acticle {
	font-size: 1.1rem
}
#acticle li{
	line-height: 2rem;
}
#content .card .btn-read:hover{
	background: rgba(79, 92, 107, 0.9);
}
#content .card h2.card-title{
	margin-bottom: 0
}

.title-label {
    clear: both;
    font-size: 1rem;
    color: #5c616b;
    text-align: center;
    font-weight: 300;
	margin-bottom: 1rem;
}
.title-label .inner {
    margin: 0.75em auto .75em;
    display: inline-block;
    width: auto;
    padding: .4em 0;
    border-bottom: .1em solid #ddd;
    border-top: .1em solid #ddd;
}
.title-label .inner:after, .title-label .inner:before {
    content: "---";
    margin: 0 .5em;
    font-weight: 400;
    color: #ddd;
    letter-spacing: -.15em;
}
.title-label a {
    color: rgba(79, 92, 107, 1);;
    text-decoration: none;
}





#index-wrapper .banner{

	position: relative;
	background-color: #4f5c6b;
	color: #fff;
	text-shadow: 1px 0px 1px #666;
	margin-bottom: 0;
}
@media (min-width:768px) {
	.banner{
		padding-bottom: 7rem;
	}

}

@media (max-width:768px){
	#work-e #avator{
		padding:0 42%;
	}
}
@media (max-width:480px){
	#wrapper > aside{
		width: 0px;
		display: none;
	}
	#wrapper #content{
		width: 100%;
		margin-left: 0px
	}
}
.banner-bg{
	background: url('imgs/bg2.jpeg');
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	/*box-shadow: inset 0px 0px 195px 3px #000;*/
}





#work-e{
	background-color: #2a2e33;
	padding: 0px 0px 50px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}


#avator{
	padding:0 45%;
	position: relative;
}
#work-e .avator{
	width: 100%;
	height: 100%;
	border: 3px solid #fff;
	padding: 0px;
	background: transparent;
	box-shadow: 0px 0px 2px #000;
	position: relative;
	margin-top: -50%;

	margin-left: auto;
	margin-right: auto;

}
#work-e .avator:hover{
	cursor: pointer;
}



.pop-info{
	display: inline-block;;
	position:relative;
	padding: 1.2rem
}
.pop-info h2{
	margin-bottom: 0;
}


#works{
	width: 94%;
	margin-top: -10%;

}

.social{
	position: absolute;
	right: 15px;
	top:15px
}

.social a{
	color: #4f5c6b;
}
.social a:hover .fa-circle{
	color: #fff;
}
.social a:hover .fa-inverse{
	color: #4f5c6b;
}

a.nav-link {
	color: #4f5c6b;
	border-bottom: 3px solid #fff;
	padding: .5em 0 0 0 ;
}
a.nav-link:hover {
	border-bottom: 3px solid #4f5c6b;
}

.navbar-toggler{
	color: #4f5c6b;
	cursor: pointer;
	padding: 0
}


 h3{
	font-size: 1.85rem;
}

blockquote {
    padding: 1rem;
    border-left: 5px solid #eee;
}

blockquote p{
	margin: 0;
}


pre {
    display: block;
    padding: 1rem;
    margin: 0 0 1rem;
    font-size: 1rem;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}


pre code {
    padding: 0;
    font-size: inherit;
    color: #4f5c6b;
    background-color: transparent;
    border-radius: 0;
}


.highlight .hll { background-color: #ffffcc; }

.highlight pre { padding: 28px 24px; font-size: 14px; background-color: #fafbfd; border: 1px solid #eaecf0; color: #68747f; }

.highlight .c { color: #60a0b0; font-style: italic; }

/* Comment */
.highlight .err { border: 1px solid #FF0000; }

/* Error */
.highlight .k { color: #007020; font-weight: bold; }

/* Keyword */
.highlight .o { color: #666666; }

/* Operator */
.highlight .cm { color: #60a0b0; font-style: italic; }

/* Comment.Multiline */
.highlight .cp { color: #007020; }

/* Comment.Preproc */
.highlight .c1 { color: #60a0b0; font-style: italic; }

/* Comment.Single */
.highlight .cs { color: #60a0b0; background-color: #fff0f0; }

/* Comment.Special */
.highlight .gd { color: #A00000; }

/* Generic.Deleted */
.highlight .ge { font-style: italic; }

/* Generic.Emph */
.highlight .gr { color: #FF0000; }

/* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold; }

/* Generic.Heading */
.highlight .gi { color: #00A000; }

/* Generic.Inserted */
.highlight .go { color: #808080; }

/* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold; }

/* Generic.Prompt */
.highlight .gs { font-weight: bold; }

/* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold; }

/* Generic.Subheading */
.highlight .gt { color: #0040D0; }

/* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold; }

/* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp { color: #007020; }

/* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt { color: #902000; }

/* Keyword.Type */
.highlight .m { color: #40a070; }

/* Literal.Number */
.highlight .s { color: #4070a0; }

/* Literal.String */
.highlight .na { color: #4070a0; }

/* Name.Attribute */
.highlight .nb { color: #007020; }

/* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold; }

/* Name.Class */
.highlight .no { color: #60add5; }

/* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold; }

/* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold; }

/* Name.Entity */
.highlight .ne { color: #007020; }

/* Name.Exception */
.highlight .nf { color: #06287e; }

/* Name.Function */
.highlight .nl { color: #002070; font-weight: bold; }

/* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold; }

/* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold; }

/* Name.Tag */
.highlight .nv { color: #bb60d5; }

/* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold; }

/* Operator.Word */
.highlight .w { color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf { color: #40a070; }

/* Literal.Number.Float */
.highlight .mh { color: #40a070; }

/* Literal.Number.Hex */
.highlight .mi { color: #40a070; }

/* Literal.Number.Integer */
.highlight .mo { color: #40a070; }

/* Literal.Number.Oct */
.highlight .sb { color: #4070a0; }

/* Literal.String.Backtick */
.highlight .sc { color: #4070a0; }

/* Literal.String.Char */
.highlight .sd { color: #4070a0; font-style: italic; }

/* Literal.String.Doc */
.highlight .s2 { color: #4070a0; }

/* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold; }

/* Literal.String.Escape */
.highlight .sh { color: #4070a0; }

/* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic; }

/* Literal.String.Interpol */
.highlight .sx { color: #c65d09; }

/* Literal.String.Other */
.highlight .sr { color: #235388; }

/* Literal.String.Regex */
.highlight .s1 { color: #4070a0; }

/* Literal.String.Single */
.highlight .ss { color: #517918; }

/* Literal.String.Symbol */
.highlight .bp { color: #007020; }

/* Name.Builtin.Pseudo */
.highlight .vc { color: #bb60d5; }

/* Name.Variable.Class */
.highlight .vg { color: #bb60d5; }

/* Name.Variable.Global */
.highlight .vi { color: #bb60d5; }

/* Name.Variable.Instance */
.highlight .il { color: #40a070; }
